@media only screen and (max-width:1440px){
    .hero-img img{
        width:100%
        } 
}
    
 
  @media only screen and (max-width:768px){
     .hero{
      flex-direction:column;
      text-align:center;
     }
      .hero-text h1{
      font-size:26px;
     }
    
     .baseboard-nav {
        text-align: center;
        margin-top: 50px;
         
     }
      .hero-text .btn {
     padding:10px 70px;
     }

 }
 
 @media only screen and (max-width:375px){
     .container{
        background-image: url(../images/bg-mobile.svg) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--Violet);
     }
     .hero-img img{
         width:100% ;
        }
        .hero-text .btn {
            padding:10px 70px;
        }
        .hero-text h1{
            font-size:20px;
            font-weight: 600;
            line-height: 1.5;
            font-family: 'Poppins' sans-serif;
        }
        .hero-text p{
            font-size:15px;
        }
        .baseboard-nav {
            display: flex;
            justify-content: center;
            align-items: center;     
        }
    }    



     

    
      

